In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

spark

In [ ]:
%%sql
--  Set namespace to ISK
    
    USE isk;

In [ ]:
%%sql
--  List tables (topics)    
    
    SHOW tables;

In [ ]:
%%sql
--  Select first 10 results from table (topic)
    
    SELECT * FROM YOUR_TABLE_NAME LIMIT 10;